doctype html
html(ng-app='LegendaryApp')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js")
    title map
    link(rel="stylesheet", href="/css/style.css")
  
  body
    h1 Hello!
    #main-form-container(ng-controller="FormController")
      form.main-form(ng-submit="getSettings()")
        h2 Players
        ul
          li(ng-repeat="player in players")
            label.tag-name {{player}}
            input.tag(type="radio", ng-model="$parent.choices.players" name="players" value="{{player}}")
            
        h2 Decks
        ul
          li(ng-repeat="set in sets")
            label.tag-name {{set}}
            input.tag(type="checkbox", ng-click="deckPicker(set, choices.decks)" value="set")
        br
        
        button#Submit(type="submit") Randomize
      
    #randomized(ng-controller="FormController")
      h2 Randomized Deck!
        h5(ng-repeat="hench in randomized.henchmen")
      h4 {{randomized.bystanders}}
    
    
    script(src="/js/decks.js")
    script(src="/js/main.js")
